.Success
{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.Failure
{
    color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}